/*
1. 主题色(大部分内容所使用的颜色)
2. 强调色(在主题色上更进一步)
3. 高亮色(一般用于hover)
4. 衬托色(不太起眼的颜色)
*/

// 文字主题色
$textThemeColor: #e1e1e1;
// 文字辅助色
$textSecondaryColor: #7f7f7f;

// 背景主题色
$bgThemeColor: #171514;
// 文字辅助色
$bgSecondaryColor: #7f7f7f;
// 聚焦色
$bgFocusColor: #232222;

//边框辅助色
$borderSecondaryColor: #403e3e;

$baseTextColor: rgba(255, 255, 255, 0.9);
$linkTagColor: #34a0a4;
$baseFontFamily: "Source Code Pro";
$baseBorderColor: rgba(255, 255, 255, 0.09);
$baseHoverColor: #63e2b7;

$primaryBgColor: rgba(99, 226, 183, 0.2);
$primaryBgColorHover: rgba(99, 226, 183, 0.2);
$primaryTextColor: #63e2b7;

//default 按钮
$defaultBtnBgColor: rgba(255, 255, 255, 0.08);
$defaultBtnBgColorHover: rgba(255, 255, 255, 0.12);

div,
blockquote,
p,
code {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: $baseFontFamily;
	color: $baseTextColor;
}
